p{
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.bottom{
    color: rgb(255, 0, 0);
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img-responsive{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    width: 253px;
    border-radius: 10px;
}

.test_image_and_result,.test_image_and_result2,.test_image_and_result3,.test_image_and_result4,.test_image_and_result5,.test_image_and_result6,.test_image_and_result7,.test_image_and_result8{
    margin-top: 15px;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 1px 1px 25px grey;
    width:99%;
    margin-bottom: 15px;
}
.first,.second{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    line-height: 2;
}
h4{
    color: white;
    font-weight: bold;
    text-align: center;
}

b{
    color: #d30efb;
    font-size: 16px;
}
.one{
   color: white;
}
.ending
{
    padding-bottom:5%;
    color: rgb(63, 77, 236);
    font-size: 20px;
    font-family: Monotype Corsiva;
}